<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

</head>
<body>
    <div class="main">
  <header>
        <nav>
            <div class="menu">
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="">
                </div>
                <div class="buttons">
                    <ul class="nav justify-content-center">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#">О нас</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#spring" >Распродажа</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#tovars">Товары</a>
                        </li>
                      </ul>
                </div>
            </div>
            <div class="trash">
                {% if current_user.is_authenticated %}
                {{current_user.email}}
                <a href="/buy"><img src="{{ url_for('static', filename='img/shopping-basket-button.svg') }}" alt=""></a>
                 <a href="/logout"><img src="{{ url_for('static', filename='img/exit.svg') }}" alt=""></a>
                {% else %}
                <a href="/signup"><p>Зарегестрироваться</p></a>
                 <a href="/login"><p>Войти</p></a>
                {% endif %}
            </div>
        </nav>
        {% block downtext %}{% endblock %}
    </header>



    {% block main %}{% endblock %}
    </div>
    <section class="foot">
        <div class="left-foot">


        </div>
        <div class="right-foot">
            <h5>Terms & Privacy</h5>
            <h5>© 2021 Михаил Карпов </h5>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>