<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>buy_trash</title>
</head>
<body class="container">
    <h1 class="text-center">Мои заказы</h1>
    <a href="../index.html"><button type="button" class="btn btn-primary btn-lg">На главную страницу</button></a>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название товара</th>
            <th scope="col">Цена</th>
            <th scope="col">Кол-во</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Домик для собаки</td>
            <td>1900,00 рублей</td>
            <td>1 <img src="../icons/x-lg.svg" alt=""></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Игрушка для кота</td>
            <td>350,50 рублей</td>
            <td>3 <img src="../icons/x-lg.svg" alt=""></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Корм для хомяков</td>
            <td>1999,99 рублей</td>
            <td>1 <img src="../icons/x-lg.svg" alt=""></td> 
          </tr>
        </tbody>
      </table>

      <h1 class="display-3 text-lg-right">Итого: 4951,49 рублей</h1>
      <button type="button" class="btn btn-primary btn-lg">Оформить заказ</button>
    















<!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>