{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block main %}
      <form  method="POST">
                {{ form.hidden_tag() }}
                        {{ form.email(class="form-control", placeholder="Введите email") }}
                        {% for error in form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}


                        {{ form.password(class="form-control", type="password", placeholder="Введите пароль") }}
                        {% for error in form.password.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}

                        {{ form.submit(type="submit", class="btn btn-primary") }}

                        {% if message %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
            </form>

        <div class="col-12">
                 Если есть нет учетной записи, нужно <a class="link-primary" href="{{ url_for('sign_up') }}">создать учётную запись</a>
        </div>
{% endblock %}